<h2>Create New Eaters:</h2>

<form method="POST" action="/eaters">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    
    <input type="submit" name="" id="submit">
</form>

<h2>All Eaters:</h2>

 <ul>
        {{#each eaters}}
        <li>
            <h3>{{this.name}}</h3>
            <p>{{this.email}}</p>
        </li>
        {{/each }}
    </ul>
